﻿@model Mi9WebApi.Models.Episode

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inxex</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
